@import url(/variables.css);
body {
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  width: fit-content;
  padding: 2rem 3rem;
  background-color: rgba(22, 33, 62, 0.836);
}

#sendCodeForm {
  display: grid;
  align-items: center;
  justify-content: center;
}

.transparent-button {
  color: whitesmoke;
}

#codeInputSection,
#passwordInputSection {
  display: none;
}
#alertMessage {
  color: var(--green) !important;
  font-size: 0.9em;
}
#validationMessage {
  color: red;
  font-size: 0.9em;
}

.second-step {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inp-button-container {
  display: grid;
  gap: 0.5rem;
}

/* Add smooth transitions to steps */
.first-step,
.second-step,
.third-step {
  transition: opacity 0.2s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;
}

input:focus {
  outline: none; /* Removes the default outline */
}

a {
  color: var(--gray); /* Use the gray variable for the default color */
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and transform animations */
}

a:hover {
  color: var(--orange); /* Change to the orange color on hover */
  transform: translateY(-2px); /* Subtle upward animation on hover */
  text-decoration: underline; /* Add underline for better UX */
}

/* Hidden state */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  position: absolute;
}
