body {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 85% 15%;
}

h1 {
  border-bottom: var(--orange) 3px solid;
  margin: 0% auto;
}

h4 {
  border-left: var(--orange) 3px solid;
  margin: 0% auto;
  padding-left: 5px;
}

h3 {
  color: #5b5e66;
  margin-bottom: 5px;
}

.top-container .button-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 5px;
}

.add-product-btn {
  width: 3dvw;
  display: flex;
  text-align: center;
  padding: 0% 0%;
  justify-content: center;
  font-size: 1.5dvw;
  background-color: var(--green);
  scale: (1);
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.add-product-btn:hover {
  background-color: var(--hvr-green);
  transform: scale(0.95);
}

.search-div {
  display: flex;
  align-items: center;
}

.top-container label {
  font-size: 1.7dvh;
}

.filter {
  text-wrap: nowrap;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}

.search-div {
  flex-grow: 1;
}

select {
  background: transparent; /* Make the background transparent */
  font-family: var(--main-font);
  color: #c7fbfc; /* Text color */
  padding: 2px; /* Optional padding */
  border-style: hidden;
  text-align: center;
}

option {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #c7fbfc; /* Text color */
  text-align: center;
}

.modal-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#addSupplierSelect,
#addCategorySelect {
  border: solid 1px #2f2844;
  border-radius: 5px;
  font-size: 1.1rem;
}
/* ACTIVE/INACTIVE */

.active {
  font-weight: bold;
  color: var(--green);
}
.inactive {
  font-weight: bold;
  color: var(--red);
}

/* #region TABLE */
.table-container {
  max-height: 100%; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

#productTable {
  width: 100%;
  border-collapse: collapse;
}

#productTable th,
#productTable td {
  font-size: 2dvh;
  padding: 8px;
  text-align: left; /* Optional: Add a border for clarity */
}
#productTable th {
  background-color: #1f242d;
}
#productTable td {
  border-bottom: 2.5px solid #3a3f51;
}

#productTable thead {
  position: sticky;
  top: 0;
  z-index: 2; /* Ensure it stays above the body rows */
  border-radius: 10px;
  margin-bottom: 2rem;
  background: var(--thead-color);
}

/* Set specific widths for each column */
#productTable th:nth-child(1),
#productTable td:nth-child(1) {
  min-width: 15dvw; /* Product name */
  max-width: 20dvw;
}

#productTable th:nth-child(2),
#productTable td:nth-child(2) {
  width: 10%; /* Brand */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#productTable th:nth-child(3),
#productTable td:nth-child(3) {
  width: 5%; /* Branch */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#productTable th:nth-child(4),
#productTable td:nth-child(4) {
  width: 25%; /* Category */
  text-align: center;
}

#productTable th:nth-child(5),
#productTable td:nth-child(5) {
  width: 15%; /* Supplier */
}

#productTable th:nth-child(6),
#productTable td:nth-child(6) {
  width: 15%; /* Cost */
}

#productTable th:nth-child(7),
#productTable td:nth-child(7) {
  width: 15%; /* Price */
}

#productTable th:nth-child(8),
#productTable td:nth-child(8) {
  width: 5%; /* Stock */
  text-align: center;
}

#productTable th:nth-child(9),
#productTable td:nth-child(9) {
  width: 30%; /* Actions */
  margin-left: auto !important;
  margin-right: auto;
  text-align: center !important;
}

/*ACTION BUTTONS*/
.action-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between buttons */
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  border: none;
  padding: 0;
  cursor: pointer;
}

.action-buttons img {
  width: 1.4dvw;
  transition: transform 0.5s ease 0ms;
}

.action-buttons img:hover {
  transform: scale(1.3);
}

#categoryList li {
  cursor: pointer;
  list-style: square;
  transition: color 0.5s ease 0ms;
}

#categoryList li:hover {
  color: var(--green);
}

/* General Styling */

/* Header Styling */

/* Styling for Category List */
#categoryList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#categoryList li {
  padding: 8px 12px;
  color: #ffffff; /* Text color */
  font-size: 14px;
  transition: background-color 0.3s;
}

#categoryList li:hover {
  background-color: #18204494; /* Matches hover on buttons */
}

/* Scrollbar Styling (optional) */
.dropdown-content::-webkit-scrollbar {
  width: 6px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #35343471;
  border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: transparent;
}

#categoryModal .modal-content {
  width: 500px;
}

#addProductModal .modal-content {
  width: 500px;
}

.modal-content input {
  margin-bottom: 5px !important;
}

#addProductModal .sliding-button:hover {
  transform: translateX(2px);
  background-color: #227226;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes content to opposite ends */
  padding: 0.5rem 0%;
  margin-top: 1rem;
}

#saveChangesButton {
  margin-top: auto;
  margin-left: auto; /* Ensures it aligns to the far right */
  padding: 0.5rem 1.25rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0;
}

.saveChangesBttn-container {
  display: grid;
}

#editModal .modal-content {
  width: 500px;
}

#editModal .sliding-button:hover {
  transform: translateX(-5px);
}

#editModal select {
  border: 2px solid #3a3f51;
  border-radius: 5px;
}

#archiveModal .modal-content {
  width: 500px;
}

#restockModal .modal-content {
  width: 500px;
}

.legend-container {
  margin-top: auto;
  margin-bottom: 5%;
  margin-left: 1rem;
}

.legend-container > * {
  display: block;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.prompt {
  font-size: 0.8rem;
  color: var(--orange);
}

.details-container {
  display: grid;
  grid-auto-flow: row;
}

.details {
  display: flex;
  gap: 1rem;
}

.details > * {
  flex: 1;
  flex-grow: 1;
}

.details select {
  width: 100%;
}

.details .dropdown {
  padding: 0px 10px;
  height: 34px;
}

#categorySelect {
  margin-top: 4px;
}

.green-button {
  color: var(--text-color);
  background-color: var(--green);
}

.green-button:hover {
  background-color: var(--hvr-green);
}

.red-button {
  color: var(--text-color);
  background-color: var(--red);
}

.red-button:hover {
  background-color: var(--hvr-red);
}
@media (max-width: 1366px) {
  h1 {
    font-size: 200%;
    margin-left: 20%;
  }

  .filter-section {
    flex-grow: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1.2fr 1.2fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "search-bar search-bar search-bar search-bar supplier filter-button"
      ". add-product stock category branch manage-category";
  }

  .add-product {
    grid-area: add-product;
  }

  .add-product-btn {
    width: 80%;
  }

  .search-div {
    grid-area: search-bar;
  }
  .manage-category {
    grid-area: manage-category;
  }
  .category {
    grid-area: category;
  }
  .stock {
    grid-area: stock;
  }
  .branch {
    grid-area: branch;
  }
  .filter-button {
    grid-area: filter-button;
  }

  .supplier {
    grid-area: supplier;
  }

  #manageCategoriesButton {
    width: 100%;
  }

  .select-input {
    width: 100% !important;
  }
}
