@import url(/variables.css);
/*******************************************************/
/**                 used in javascript        **********/
/**         pwede mo palitan mga properties   **********/
/**   yung mga class/id name lang yung important  ******/
/*******************************************************/

/*? taga disable to ng send code button after ng input ng email */
/*? para hindi ma double yung send code */
#send-code-button {
  width: 100%;
}

.send-code-button:disabled {
  opacity: 0.6; /* Reduce opacity when disabled */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  background-color: #cccccc; /* Change background color */
  color: #666666; /* Adjust text color */
}

.send-code-button:disabled:hover {
  opacity: 0.6; /* Reduce opacity when disabled */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  background-color: #cccccc; /* Change background color */
  color: #666666; /* Adjust text color */
}

/*? div to kada section, pang next ng div. try mo palitan bg color para ma gets */
.section {
  margin-bottom: 20px;
}

/*? may kinalaman din to sa pang next ng div **/
.hidden {
  display: none;
}

/*? button pang balik sa input email **/
.admin-login-modal-button,
.update-email-button {
  background-color: transparent;
  border-color: transparent;
  font-family: var(--main-font);
  color: var(--text-color);
  cursor: pointer;
}
.admin-login-modal-button:hover span,
.update-email-button:hover span {
  color: var(--alert-text-color);
  text-decoration: none;
}

.admin-login-modal-button span,
.update-email-button span {
  font-family: var(--title-font);
  text-decoration: underline;
}
/*? pang close sa modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#err-select-branch,
#err-input-branch {
  color: var(--alert-text-color);
  text-align: left;
}

/*? custom alert */
.alert {
  z-index: 99;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: rgba(187, 49, 22, 0.9); /* Red */
  color: white;
  padding: 1rem;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  min-width: 300px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.alert.hidden {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

/*? Modal background */
.modal {
  position: absolute; /* Stay in place */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute; /* Stay in place */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22, 33, 62, 0.9);
  color: var(--text-color);
  padding: 20px;

  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Limit width for larger screens */
}

.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content button.button-primary {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /* Include padding and borders in the element's width */
  margin-bottom: 10px; /* Add some spacing between elements */
}

.modal-content button.button-primary {
  transform: scale(1);
  margin-top: 10px;
}

.modal-content h2 {
  text-align: center;
  width: 100%;
}

.modal-content .error-message {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

/**********************************************************/

h1 {
  font-family: var(--header-font);
  color: var(--text-color);
  font-size: 30px;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/GNW_logo.png");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.container {
  background-color: var(--container-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  text-align: center;
}

/* General input styles */
input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;
  box-sizing: border-box; /* Ensures padding and border are included in the element's width */
}

.button-primary {
  font-family: var(--main-font);
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  width: 100%; /* Ensure button aligns with input and select */
  box-sizing: border-box; /* Ensures padding and border are included in the element's width */
  transition: border-color 0.3s ease, background-color 1s ease 0ms,
    transform 0.3s ease;
  font-weight: 600;
}

.button-primary:hover {
  border: 1.5px solid var(--green);
  background-color: transparent;
  /* Add a subtle scale effect on hover */
}

#login-admin-button {
  width: 100%;
}

#login-button {
  margin-top: 10px;
  transform: scale(1);
  margin-bottom: 10px;
}

#login-button:hover {
  transform: scale(1.02);
}

#login-section div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
#login-section img {
  width: 35px;
  cursor: pointer;
}
.password-container {
  position: relative;
  display: grid;
  align-items: center;
}

.password-container input {
  width: 100%;
}

.password-container .eyeIcon {
  position: absolute;
  right: 5px;
  top: 15px;
  cursor: pointer;
  z-index: 1;
}

.password-container #eyeIcon,
.password-container #password-eyeIcon {
  width: 25px;
  align-self: center;
}

.password-container #adminEyeIcon,
.password-container #confirm-password-eyeIcon {
  width: 25px;
}

.button-primary,
.admin-login-modal-button,
.update-email-button:active {
  transform: scale(0.9);
}

label {
  text-align: left;
  display: block;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reg-error-email-alert {
  color: var(--alert-text-color);
  text-align: left;
}
.error-message {
  color: var(--alert-text-color);
}
input {
  font-family: var(--main-font);
  padding: 0 8px;
  vertical-align: middle;
  border-radius: 2px;
  min-height: 36px;
  background-color: #ffffff;
  border: 1px solid rgba(36, 28, 21, 0.3);
  transition: all 0.2s ease-in-out 0s;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  &:focus {
    outline: none;
    border: 1px solid #007c89;
    box-shadow: inset 0 0 0 1px #007c89;
  }
}

/* Hide spinners for input type number on hover */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover {
  -moz-appearance: textfield;
}

/* Style for forgot password link */
.forgot-password {
  color: var(--gray); /* Use the gray variable for the default color */
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and transform animations */
}

.forgot-password:hover {
  color: var(--orange); /* Change to the orange color on hover */
  transform: translateY(-2px); /* Subtle upward animation on hover */
  text-decoration: underline; /* Add underline for better UX */
}

.transparent-button {
  padding: 5px 12px;
  background-color: transparent;
  border: 1px solid #414161;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.transparent-button:hover {
  border: 1.5px solid var(--green);
  background-color: rgba(59, 58, 58, 0.342);
}
