* ::-webkit-scrollbar {
  display: none;
}

h1 {
  border-bottom: var(--orange) 3px solid;
  margin: 0% auto;
  text-wrap: nowrap;
}
select {
  text-align: center;
}
option {
  text-align: center;
}

body {
  display: grid;
}

.left-container {
  z-index: 0;
  height: 100vh;
  margin-left: 4dvw;
  outline: 2px solid #1f242d; /* Adds a 2px white outline */
}

.right-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 10dvh 90dvh;
  height: 80dvh;
  margin-bottom: 5dvh;
}

.bottom-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0%;
  border: solid 1px #1f242d;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  font-size: 2dvh;
  padding: 8px;
  text-align: left; /* Optional: Add a border for clarity */
}
table th {
  background-color: #1f242d;
}
table td {
  border-bottom: 2.5px solid #3a3f51;
}

table thead {
  position: sticky;
  top: 0;
  z-index: 2; /* Ensure it stays above the body rows */
  border-radius: 10px;
  margin-bottom: 2rem;
  background: var(--thead-color);
}

table thead th:nth-child(1),
table td:nth-child(1) {
  width: 25%;
}

table thead th:nth-child(2),
table td:nth-child(2) {
  width: 25%;
}

table thead th:nth-child(3),
table td:nth-child(3) {
  width: 25%;
}

table thead th:nth-child(4),
table td:nth-child(4) {
  width: 25%;
  text-align: center;
}

table thead th:nth-child(5) {
  text-align: center;
  padding: 12px 15px;
}

table tbody td:nth-child(5) {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: none;
}

table tbody tr {
  border-bottom: 2.5px solid #3a3f51;
  transition: background-color 0.5s ease-in-out;
}

table tbody tr:hover {
  background-color: var(--hvr-row);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #3a3f51;
}

.actions-div {
  display: flex;
  gap: 0.75rem; /* Increased gap for better spacing */
  justify-content: space-between; /* Aligns buttons evenly */
  align-items: center;
  padding: 0.5rem; /* Added padding for better layout */
}

.actions-div button {
  flex: 1;
  padding: 0.5rem 1rem; /* Added padding for comfortable click area */
  font-size: 0.9rem; /* Adjusted font size for readability */
  border: none;
  border-radius: 4px; /* Soft rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for interaction */
  min-width: 100px; /* Ensures a minimum width for buttons */
}

.actions-div .edit-icon {
  background-color: var(--hvr-green); /* Specific color for edit button */
  color: white;
}
#changePasswordSection {
  display: none; /* Hidden initially */
}

.red-button {
  color: var(--text-color);
  background-color: var(--red);
}
