@import url(/variables.css);
body {
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2rem 3rem;
  text-align: center;
  background-color: rgba(22, 33, 62, 0.836) !important;
}

.transparent-button {
  color: whitesmoke;
}

a {
  color: var(--gray); /* Use the gray variable for the default color */
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and transform animations */
}

a:hover {
  color: var(--orange); /* Change to the orange color on hover */
  transform: translateY(-2px); /* Subtle upward animation on hover */
  text-decoration: underline; /* Add underline for better UX */
}
