<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style/general_styles.css" />
    <link rel="stylesheet" href="/style/password_reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GNW | Password is reset</title>
  </head>
  <body>
    <div class="container">
      <p>password reset success, please go back to log in...</p>
      <a href="/login">go to log in page</a>
    </div>
  </body>
</html>
