<head>
  <link rel="stylesheet" href="/style/components/main_navigation.css" />
  <script src="/script/admin_logout.js" defer></script>
</head>
<div class="side-nav">
  <header>
    <div class="brand-logo">
      <span class="image">
        <img src="/assets/images/GNW_logo_brighter.png" alt="" />
      </span>
    </div>
  </header>
  <div class="alert-div" id="customAlertContainer"></div>
  <div class="top-content">
    <ul>
      <li>
        <a class="side-buttons" href="/admin/branch">
          <img src="/assets/images/branch-icon.png" alt="" />
          <p>Branches</p>
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/admin/inventory">
          <img src="/assets/images/inventory-icon.png" alt="" />
          <p>Manage Inventory</p>
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/admin/sales-and-reports"
          ><img src="/assets/images/report-icon.png" alt="" />
          <p>Sales & Reports</p>
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/admin/suppliers">
          <img src="/assets/images/supplier-icon.png" alt="" />
          <p>Suppliers</p>
        </a>
      </li>
      <li>
        <a class="side-buttons" href="/admin/manageAdmin">
          <img src="/assets/images/admin-icon.png" alt="" />
          <p>Admin</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-content">
    <button id="admin-logout-button" class="side-buttons">
      <img src="/assets/images/log-out-icon.png" alt="" />
      <p>Log out</p>
    </button>
  </div>
</div>
