<head>
  <link rel="stylesheet" href="/style/components/branch-navigation.css" />
  <script src="/script/logout_branch.js" defer></script>
  <script src="/script/order_logs.js" defer></script>
</head>
<div class="side-nav">
  <header>
    <div class="brand-logo">
      <span class="image">
        <img src="/assets/images/GNW_logo_brighter.png" alt="" />
      </span>
    </div>
  </header>
  <div class="top-content"></div>
  <div class="bottom-content">
    <button id="transanction-logs" class="side-buttons">
      <img src="/assets/images/logs-icon.png" alt="" />Logs
    </button>
    <button id="branch-logout-button" class="side-buttons">
      <img src="/assets/images/log-out-icon.png" alt="" />Log out
    </button>
  </div>
</div>
